
<div 
	[class.g-sidenav-show] = "sidebarHover" 
	[class.g-sidenav-hidden] = "!sidebarHover && !sidebarPinned" 
	[class.g-sidenav-pinned] = "sidebarPinned"
>
	<nav 
		class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white"
		id="sidenav-main"
		(mouseenter) ="sidebarHover = true"
		(mouseleave) ="sidebarHover = false"
	>
		<div class="scroll-wrapper scrollbar-inner" style="position: relative;"><div class="scrollbar-inner scroll-content" style="height: 751px; margin-bottom: 0px; margin-right: 0px; max-height: none;">
			<!-- Brand -->
			<div class="sidenav-header  d-flex  align-items-center">
				<a class="navbar-brand" href="../../../index.html">
					<img src="../../assets/img/brand/dark.svg" height="40" class="navbar-brand-img" alt="...">
				</a>
				<div class=" ml-auto ">
					<!-- Sidenav toggler -->
					<div class="sidenav-toggler d-none d-xl-block active" (click)="sidebarPinned = !sidebarPinned">
						<div class="sidenav-toggler-inner">
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
							<i class="sidenav-toggler-line"></i>
						</div>
					</div>
				</div>
			</div>
			<div class="navbar-inner">
				<!-- Collapse -->
				<div class="collapse navbar-collapse" id="sidenav-collapse-main">

					<ul class="navbar-nav">
						<li class="nav-item" *ngIf="loggedUser && loggedUser.guilds">
							<ng-select 
							appearance="outline"
							[items]="loggedUser.guilds"
							[(ngModel)]="selectedGuild"
							[searchable]="true"
							[clearable]="false"
							(change)="guildReselected()">
								<ng-template ng-option-tmp ng-label-tmp let-item="item" let-index="index" let-search="searchTerm">
									<div class="d-flex">
										<div class="avatar avatar-sm rounded-circle">
											<img *ngIf="item.icon" src="https://cdn.discordapp.com/icons/{{item.id}}/{{item.icon}}.png?size=4096"/>
											<span *ngIf="!item.icon">{{item.name.charAt(0)}}</span>
										</div>
										<div *ngIf="sidebarHover || sidebarPinned">
											{{item.name}}
										</div>
									</div>
								</ng-template>
							</ng-select>
						</li>
						<li class="nav-item" *ngIf="availableBots">
							<ng-select 
							appearance="outline"
							[items]="availableBots"
							[(ngModel)]="selectedBot"
							[searchable]="true"
							[clearable]="false"
							(change)="botReselected()">
								<ng-template ng-option-tmp ng-label-tmp let-item="item" let-index="index" let-search="searchTerm">
									<div class="d-flex">
										<div class="avatar avatar-sm rounded-circle">
											<img *ngIf="item.icon" 
											src="{{ item | avatar }}"/>
											<span *ngIf="!item.icon">{{item.name?.charAt(0)}}</span>
										</div>
										<div *ngIf="sidebarHover || sidebarPinned">
											{{item.name}}
										</div>
									</div>
								</ng-template>
							</ng-select>
						</li>
					</ul>

					<!-- Nav items -->
					<ul class="navbar-nav" *ngIf="selectedGuild && selectedBot">
						<li class="nav-item">
							<a class="nav-link" [routerLink]="['/dashboard', selectedBot.id ,selectedGuild.id]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
								<i class="fa fa-home text-primary"></i>
								<span class="nav-link-text">Dashboard</span>
							</a>
						</li>
						<li class="nav-item" *ngFor="let module of moduleTypes">
							<a class="nav-link" [routerLink]="['/dashboard', selectedBot.id ,selectedGuild.id, module.componentName]" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
								<i class="{{ module.iconAndColor }}"></i>
								<span class="nav-link-text">{{ module.name }}</span>
							</a>
						</li>
						<hr class="my-3">
						<!--
						<h6 class="navbar-heading pl-4 text-muted">
							<span class="docs-normal">Custom modules</span>
						</h6>
						-->
					</ul>
				</div>
			</div>
		</div><div class="scroll-element scroll-x"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="width: 0px; left: 0px;"></div></div></div><div class="scroll-element scroll-y"><div class="scroll-element_outer"><div class="scroll-element_size"></div><div class="scroll-element_track"></div><div class="scroll-bar" style="height: 0px;"></div></div></div></div>
	</nav>
	<!-- Main content -->
	<div class="main-content" id="panel">
		<!-- Topnav -->
		<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<!-- Search form -->
					<form class="navbar-search navbar-search-light form-inline mr-sm-3" id="navbar-search-main">
						<div class="form-group mb-0">
							<div class="input-group input-group-alternative input-group-merge">
								<div class="input-group-prepend">
									<span class="input-group-text"><i class="fas fa-search"></i></span>
								</div>
								<input class="form-control" placeholder="Search" type="text">
							</div>
						</div>
						<button type="button" class="close" data-action="search-close" data-target="#navbar-search-main" aria-label="Close">
							<span aria-hidden="true">×</span>
						</button>
					</form>
					<!-- Navbar links -->
					<ul class="navbar-nav align-items-center  ml-md-auto ">
						<li class="nav-item d-xl-none">
							<!-- Sidenav toggler -->
							<div class="pr-3 sidenav-toggler sidenav-toggler-dark active" (click)="sidebarPinned = !sidebarPinned">
								<div class="sidenav-toggler-inner">
									<i class="sidenav-toggler-line"></i>
									<i class="sidenav-toggler-line"></i>
									<i class="sidenav-toggler-line"></i>
								</div>
							</div>
						</li>
						<li class="nav-item d-sm-none">
							<a class="nav-link" href="#" data-action="search-show" data-target="#navbar-search-main">
								<i class="ni ni-zoom-split-in"></i>
							</a>
						</li>
						<li class="nav-item dropdown" ngbDropdown>
							<a class="nav-link" ngbDropdownToggle>
								<i class="fa fa-bell"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-xl dropdown-menu-right py-0 overflow-hidden" ngbDropdownMenu >
								<!-- Dropdown header -->
								<div class="px-3 py-3">
									<h6 class="text-sm text-muted m-0">You have <strong class="text-primary">13</strong> notifications.</h6>
								</div>
								<!-- List group -->
								<div class="list-group list-group-flush">
									<a href="#!" class="list-group-item list-group-item-action">
										<div class="row align-items-center">
											<div class="col-auto">
												<!-- Avatar -->
												<img alt="Image placeholder" src="../../assets/img/theme/team-1.jpg" class="avatar rounded-circle">
											</div>
											<div class="col ml--2">
												<div class="d-flex justify-content-between align-items-center">
													<div>
														<h4 class="mb-0 text-sm">John Snow</h4>
													</div>
													<div class="text-right text-muted">
														<small>2 hrs ago</small>
													</div>
												</div>
												<p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
											</div>
										</div>
									</a>
									<a href="#!" class="list-group-item list-group-item-action">
										<div class="row align-items-center">
											<div class="col-auto">
												<!-- Avatar -->
												<img alt="Image placeholder" src="../../assets/img/theme/team-2.jpg" class="avatar rounded-circle">
											</div>
											<div class="col ml--2">
												<div class="d-flex justify-content-between align-items-center">
													<div>
														<h4 class="mb-0 text-sm">John Snow</h4>
													</div>
													<div class="text-right text-muted">
														<small>3 hrs ago</small>
													</div>
												</div>
												<p class="text-sm mb-0">A new issue has been reported for Argon.</p>
											</div>
										</div>
									</a>
									<a href="#!" class="list-group-item list-group-item-action">
										<div class="row align-items-center">
											<div class="col-auto">
												<!-- Avatar -->
												<img alt="Image placeholder" src="../../assets/img/theme/team-3.jpg" class="avatar rounded-circle">
											</div>
											<div class="col ml--2">
												<div class="d-flex justify-content-between align-items-center">
													<div>
														<h4 class="mb-0 text-sm">John Snow</h4>
													</div>
													<div class="text-right text-muted">
														<small>5 hrs ago</small>
													</div>
												</div>
												<p class="text-sm mb-0">Your posts have been liked a lot.</p>
											</div>
										</div>
									</a>
									<a href="#!" class="list-group-item list-group-item-action">
										<div class="row align-items-center">
											<div class="col-auto">
												<!-- Avatar -->
												<img alt="Image placeholder" src="../../assets/img/theme/team-4.jpg" class="avatar rounded-circle">
											</div>
											<div class="col ml--2">
												<div class="d-flex justify-content-between align-items-center">
													<div>
														<h4 class="mb-0 text-sm">John Snow</h4>
													</div>
													<div class="text-right text-muted">
														<small>2 hrs ago</small>
													</div>
												</div>
												<p class="text-sm mb-0">Let's meet at Starbucks at 11:30. Wdyt?</p>
											</div>
										</div>
									</a>
									<a href="#!" class="list-group-item list-group-item-action">
										<div class="row align-items-center">
											<div class="col-auto">
												<!-- Avatar -->
												<img alt="Image placeholder" src="../../assets/img/theme/team-5.jpg" class="avatar rounded-circle">
											</div>
											<div class="col ml--2">
												<div class="d-flex justify-content-between align-items-center">
													<div>
														<h4 class="mb-0 text-sm">John Snow</h4>
													</div>
													<div class="text-right text-muted">
														<small>3 hrs ago</small>
													</div>
												</div>
												<p class="text-sm mb-0">A new issue has been reported for Argon.</p>
											</div>
										</div>
									</a>
								</div>
								<!-- View all -->
								<a href="#!" class="dropdown-item text-center text-primary font-weight-bold py-3">View all</a>
							</div>
						</li>
						<li class="nav-item dropdown" ngbDropdown>
							<a class="nav-link" ngbDropdownToggle>
								<i class="fa fa-layer-group"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-lg dropdown-menu-dark bg-default dropdown-menu-right" ngbDropdownMenu>
								<div class="row shortcuts px-4">
									<a href="#!" class="col-4 shortcut-item">
										<span class="shortcut-media avatar rounded-circle bg-gradient-red">
											<i class="fa fa-calendar"></i>
										</span>
										<small>Calendar</small>
									</a>
									<a href="#!" class="col-4 shortcut-item">
										<span class="shortcut-media avatar rounded-circle bg-gradient-info">
											<i class="fa fa-credit-card"></i>
										</span>
										<small>Payments</small>
									</a>
									<a href="#!" class="col-4 shortcut-item">
										<span class="shortcut-media avatar rounded-circle bg-gradient-info">
											<i class="fa fa-credit-card"></i>
										</span>
										<small>Payments</small>
									</a>
								</div>
							</div>
						</li>
						<li class="nav-item dropdown" ngbDropdown #UserDrop="ngbDropdown">
							<a class="nav-link pr-0" (click)="$event.stopPropagation(); UserDrop.open();" *ngIf="loggedUser">
								<div class="media align-items-center">
									<span class="avatar avatar-sm rounded-circle">
										<img alt="Image placeholder" 
										src="{{ loggedUser | avatar }}">
									</span>
									<div class="media-body  ml-2  d-none d-lg-block">
										<span class="mb-0 text-sm  font-weight-bold">{{ loggedUser?.discordTag }}</span>
									</div>
								</div>
							</a>
							<div class="dropdown-menu dropdown-menu-right" ngbDropdownMenu>
								<div class="dropdown-header noti-title">
									<h6 class="text-overflow m-0">Welcome!</h6>
								</div>
								<a href="#!" class="dropdown-item">
									<i class="fa fa-user"></i>
									<span>My profile</span>
								</a>
								<a href="#!" class="dropdown-item">
									<i class="fas fa-cog"></i>
									<span>Settings</span>
								</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" (click)="logout()">
									<i class="fas fa-door-open"></i>
									<span>Logout</span>
								</a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		<!-- Header -->
		<router-outlet></router-outlet>
	</div>
	<div class="backdrop" [class.d-xl-none]="sidebarPinned" [class.d-none]="!sidebarPinned" (click)="sidebarPinned = false"></div>
</div>