<form [formGroup]="form" *ngIf="loaded">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Logger settings</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div
            class="card-body"
            formArrayName="events"
          >
            <div class="row">
              <div class="col-4">
                Event name
              </div>
              <div class="col-2">
                Enabled
              </div>
              <div class="col-6">
                Send to channel
              </div>
            </div>
            <div class="row"
              [formGroupName]="j"
              *ngFor="
                let globalReply of getGlobalEvent(form);
                let j = index
              "
            >
              <div class="col-4 pt-4">
  	            {{loggerTypes[j]}}
              </div>
              <div class="col-2 pt-4">
                <label class="custom-toggle custom-toggle-success"
                  ><input type="checkbox" formControlName="enabled" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="Disabled"
                    data-label-on="Enabled"
                  ></span
                ></label>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <ng-select
                    appearance="outline"
                    [items]="availableRooms"
                    [multiple]="false"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="channel"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="text-center">
  <button (click)="onSubmit()" class="btn btn-success">Save</button>
</div>
