<form [formGroup]="form">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col">
                <h3 class="mb-0">Automatic roles on join</h3>
              </div>
            </div>
          </div>
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols3Input"
                    >Roles to add</label
                  >

                  <ng-select
                    appearance="outline"
                    [items]="availableRoles"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="false"
                    [closeOnSelect]="false"
                    formControlName="roles"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="text-center">
  <button (click)="onSubmit()" class="btn btn-success">Save</button>
</div>
