<div class="main-content">
  <!-- Header -->
  <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="container mt--9 pb-5">
    <!-- Table -->
    <div class="row justify-content-center">
      <div class="col-lg-7 col-md-9">
        <div class="card bg-secondary border border-soft">
          <div class="card-body px-lg-5 py-lg-5">
            <div class="text-center text-muted mb-4">
              <h3>Select bot you want to manage</h3>
            </div>
            <ul class="list-group list-group-flush my--3">
              <li class="list-group px-0" *ngFor="let bot of availableBots">
                <div class="row align-items-center">
                  <div class="col-auto">
                    <!-- Avatar -->
                    <a href="#" class="avatar rounded-circle">
                      <img
                        *ngIf="bot.icon"
                        alt="Image placeholder"
                        src="{{ bot | avatar }}"
                      />
                      <p class="pt-3" *ngIf="!bot.icon">
                        {{ bot.name.charAt(0) }}
                      </p>
                    </a>
                  </div>
                  <div class="col">
                    <h5>{{ bot.name }}</h5>
                  </div>
                  <div class="col">
                    <a class="btn btn-primary" (click)="botSelected(bot.id)"> Edit settings </a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
