<div class="container-fluid mt--6"></div>

<form [formGroup]="form">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col"><h3 class="mb-0">Automatic replies</h3></div>
              <div class="col text-right">
                <button class="btn btn-sm btn-primary" (click)="addReply()">
                  Add
                </button>
              </div>
            </div>
          </div>
          <div class="table">
            <table
              class="table align-items-center table-flush"
              formArrayName="replies"
            >
              <thead class="thead-light">
                <tr>
                  <th>Trigger</th>
                  <th>Autodelete (0 means disabled)</th>
                  <th>Actions</th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="list">
                <tr
                  [formGroupName]="j"
                  *ngFor="
                    let globalReply of getGlobalReply(form);
                    let j = index
                  "
                >
                  <th scope="row">
                    <tag-input formControlName="triggers"></tag-input>
                  </th>
                  <td scope="row">
                    <input
                      formControlName="autodelete"
                      class="form-control"
                      type="number"
                    />
                  </td>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-primary" ngbDropdownToggle>
                        Manage
                      </button>
                      <div ngbDropdownMenu>
                        <button
                          ngbDropdownItem
                          *ngFor="
                            let reply of globalReply.controls.replies.value;
                            let k = index
                          "
                          (click)="openModal(reply, j, k)"
                        >
                          Reply {{ k }} <span class="fa fa-times text-right" (click)="removeModalReply(j, k)"></span>
                        </button>
                        <button ngbDropdownItem (click)="addModalReply(j)">
                          Add new 
                        </button>
                      </div>
                    </div>
                  </td>
                  <td>
                    <span class="fa fa-times" (click)="removeReply(j)"></span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="text-center">
  <button (click)="onSubmit()" class="btn btn-success">Save</button>
</div>

<app-embed-creator
  [embedData]="modalData"
  (closeEvent)="closeModal($event)"
  *ngIf="modalOpen"
></app-embed-creator>
