<body class="bg-white">
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-5">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8">
              <h1 class="text-white">You need to invite the bot first</h1>
              <p class="text-white">
                Whoops. We have no indication that the bot is on this server.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg
          x="0"
          y="0"
          viewBox="0 0 2560 100"
          preserveAspectRatio="none"
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
        >
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--8">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="card card-profile bg-secondary mt-5 border border-soft" *ngIf="selectedBot && selectedGuild">
            <div class="row justify-content-center">
              <div class="col-4" *ngIf="selectedBot">
                <div class="card-profile-image">
                  <img
                    src="{{ selectedBot | avatar }}"
                    class="rounded-circle border-secondary bg-white"
                  />
                </div>
              </div>
              <div class="col-4" *ngIf="selectedGuild">
                <div class="card-profile-image">
                  <img
                    src="{{ selectedGuild | icon }}"
                    class="rounded-circle border-secondary bg-white"
                  />
                </div>
              </div>
            </div>
            <div class="card-body pt-7 px-5">
              <div class="text-center mb-4">
                <p>
                  Invite <b>{{ selectedBot.name }}</b> to
                  <b>{{ selectedGuild.name }}</b> now with button below
                </p>
              </div>
              <div class="text-center">
                <button
                  type="button"
                  class="btn btn-success mt-2"
                  (click)="invite()"
                >
                  Invite
                </button>
              </div>
              <div class="text-center mb-4" *ngIf="showmessage">
                <p>After bot is invited, please refresh this page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
