<form [formGroup]="form">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col"><h3 class="mb-0">Embed sender</h3></div>
              <div class="col text-right">
                <button class="btn btn-sm btn-primary" (click)="addMessage()">
                  Add
                </button>
              </div>
            </div>
          </div>
          <div class="table">
            <table
              class="table align-items-center table-flush"
              formArrayName="embeds"
            >
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Channel</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr
                  [formGroupName]="j"
                  *ngFor="
                    let message of getMessage(form);
                    let j = index
                  "
                >
                  <th scope="row">
                    <input
                      formControlName="name"
                      class="form-control"
                      type="text"
                    />
                  </th>
                  <th scope="row">
                    <ng-select
                      appearance="outline"
                      [items]="availableRooms"
                      [multiple]="false"
                      [searchable]="true"
                      [clearable]="true"
                      [closeOnSelect]="true"
                      formControlName="channel"
                    >
                      <ng-template
                        ng-option-tmp
                        ng-label-tmp
                        let-item="item"
                        let-index="index"
                        let-search="searchTerm"
                      >
                            {{ item.name }}
                      </ng-template>
                    </ng-select>
                  </th>
                  <td>
                    <div class="col">
                      <div ngbDropdown class="d-inline-block">
                        <button class="btn btn-primary" ngbDropdownToggle>
                          Manage
                        </button>
                        <div ngbDropdownMenu>
                          <button
                            ngbDropdownItem
                            *ngFor="
                              let reply of message.controls.messages.value;
                              let k = index
                            "
                            (click)="openModal(reply, j, k)"
                          >
                            Reply {{ k }}
                          </button>
                          <button ngbDropdownItem (click)="addSubMessage(j)">
                            Add new
                          </button>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="text-center">
  <button (click)="onSubmit()" class="btn btn-success">Save</button>
</div>

<app-embed-creator
  [embedData]="modalData"
  (closeEvent)="closeModal($event)"
  *ngIf="modalOpen"
></app-embed-creator>
