<form [formGroup]="form">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col"><h3 class="mb-0">Status roles</h3></div>
              <div class="col text-right">
                <button class="btn btn-sm btn-primary" (click)="addMessage()">
                  Add
                </button>
              </div>
            </div>
          </div>
          <div class="table">
            <table
              class="table align-items-center table-flush"
              formArrayName="groups"
            >
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Icon</th>
                  <th>Roles</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr
                  [formGroupName]="j"
                  *ngFor="let message of getMessage(form); let j = index"
                >
                  <td scope="row">
                    <input
                      formControlName="text"
                      class="form-control"
                      type="text"
                    />
                  </td>
                  <td class="text-wrap">
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-primary" ngbDropdownToggle *ngIf="!message.value.iconUrl">
                        Select emote
                      </button>
                      <button class="btn btn-primary" ngbDropdownToggle *ngIf="message.value.iconUrl && message.value.iconUrl != message.value.icon">
                        <img [src]="message.value.iconUrl" width="30px" height="30px">
                      </button>
                      <button class="btn btn-primary" ngbDropdownToggle *ngIf="message.value.iconUrl && message.value.iconUrl == message.value.icon">
                        {{ message.value.iconUrl }}
                      </button>
                      <div ngbDropdownMenu class="m-0 p-0">
                        <emoji-mart
                          title="Pick your emoji…"
                          emoji="point_up"
                          [custom]="customEmojis"
                          [include]="[
                            'recent',
                            'search',
                            'custom',
                            'people',
                            'nature',
                            'foods',
                            'activity',
                            'places',
                            'places',
                            'symbols',
                            'flags'
                          ]"
                          [showSingleCategory]="true"
                          (emojiClick)="selectEmoji(j, $event)"
                        ></emoji-mart>
                      </div>
                    </div>
                  </td>

                  <td scope="row">
                    <ng-select
                      appearance="outline"
                      [items]="availableRoles"
                      [multiple]="true"
                      [searchable]="true"
                      [clearable]="true"
                      [closeOnSelect]="false"
                      formControlName="roles"
                      bindLabel="name"
                    >
                      <ng-template
                        ng-option-tmp
                        ng-label-tmp
                        let-item="item"
                        let-index="index"
                        let-search="searchTerm"
                      >
                        {{ item.name }}
                      </ng-template>
                    </ng-select>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="text-center">
  <button (click)="onSubmit()" class="btn btn-success">Save</button>
</div>
