<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Form elements</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="#"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="#">Forms</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Form elements
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral">New</a>
          <a href="#" class="btn btn-sm btn-neutral">Filters</a>
        </div>
      </div>
    </div>
  </div>
</div>

<moduledetail-autoreply
  *ngIf="moduleType === 'autoreply'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-autoreply>

<moduledetail-autorole
  *ngIf="moduleType === 'autorole'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-autorole>

<moduledetail-embedsender
  *ngIf="moduleType === 'embedsender'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-embedsender>

<moduledetail-moderation
  *ngIf="moduleType === 'moderation'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-moderation>

<moduledetail-player
  *ngIf="moduleType === 'player'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-player>

<moduledetail-roomtheme
  *ngIf="moduleType === 'roomthemer'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-roomtheme>

<moduledetail-statusrole
  *ngIf="moduleType === 'statusRole'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-statusrole>

<moduledetail-stickymessage
  *ngIf="moduleType === 'stickymessage'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-stickymessage>

<moduledetail-verify
  *ngIf="moduleType === 'verify'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-verify>

<moduledetail-welcome
  *ngIf="moduleType === 'welcomer'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-welcome>

<moduledetail-logger
  *ngIf="moduleType === 'logger'"
  [moduleData]="moduleData?.data"
  (closeEvent)="moduleDataReturned($event)"
></moduledetail-logger>

<div class="container-fluid pt-3" *ngIf="moduleCommands?.length > 0">
  <div class="row">
    <div class="col">
      <div class="card">
        <!-- Card header -->
        <div class="card-header border-0">
          <h3 class="mb-0">Commands</h3>
        </div>
        <div class="table">
          <table class="table align-items-center table-flush">
            <tbody class="list">
              <tr *ngFor="let command of moduleCommands">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="name mb-0 text-sm">
                        /{{ command.slashCommand.name }}
                        <small>{{ command.slashCommand.description }}</small>
                      </span>
                    </div>
                  </div>
                </th>
                <td>{{ command.prefixedPhrases.join(" , ") }}</td>
                <td>
                  <label class="custom-toggle custom-toggle-success"
                    ><input type="checkbox" [checked]="command.enabled" />
                    <span
                      class="custom-toggle-slider rounded-circle"
                      data-label-off="Disabled"
                      data-label-on="Enabled"
                      (click)="toggleCommand(command.id)"
                    ></span
                  ></label>
                </td>
                <td>
                  <div class="text-center">
                    <button
                      class="btn btn-primary"
                      type="submit"
                      [routerLink]="['command', command.id.split('/')[3]]"
                    >
                      Manage
                    </button>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
