<form [formGroup]="form">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4" formGroupName="autoplay">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Autoplay settings</h3>
              </div>
               <div class="col text-right">
                <label class="custom-toggle custom-toggle-success"
                  ><input type="checkbox" formControlName="enabled" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="Disabled"
                    data-label-on="Enabled"
                  ></span
                ></label>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label">Radio room</label>
                  <ng-select
                    appearance="outline"
                    [items]="availableVoiceRooms"
                    [multiple]="false"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="voiceRoom"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Chat room for DJ's</label
                  >
                  <ng-select
                    appearance="outline"
                    [items]="availableRooms"
                    [multiple]="false"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="djRoom"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Default playlist</label
                  >
                  <input
                    class="form-control"
                    appearance="outline"
                    formControlName="playlist"
                  />
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Return back when queue is empty</label
                  ><br>
                <label class="custom-toggle custom-toggle-success"
                  ><input type="checkbox" formControlName="returnEmptyQueue" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="Disabled"
                    data-label-on="Enabled"
                  ></span
                ></label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Start when memeber joins</label
                  ><br>
                <label class="custom-toggle custom-toggle-success"
                  ><input type="checkbox" formControlName="startOnMemberJoin" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="Disabled"
                    data-label-on="Enabled"
                  ></span
                ></label>
                </div>
              </div>
               <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Automaticly clear default playlist when command executed</label
                  ><br>
                <label class="custom-toggle custom-toggle-success"
                  ><input type="checkbox" formControlName="autoclearWhenPlayCommand" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="Disabled"
                    data-label-on="Enabled"
                  ></span
                ></label>
                </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Automaticly shuffle default playlist</label
                  ><br>
                <label class="custom-toggle custom-toggle-success"
                  ><input type="checkbox" formControlName="autoShuffle" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="Disabled"
                    data-label-on="Enabled"
                  ></span
                ></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="text-center">
  <button (click)="onSubmit()" class="btn btn-success">Save</button>
</div>