<div class="header bg-primary pb-6">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row align-items-center py-4">
        <div class="col-lg-6 col-7">
          <h6 class="h2 text-white d-inline-block mb-0">Form elements</h6>
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
              <li class="breadcrumb-item">
                <a href="#"><i class="fas fa-home"></i></a>
              </li>
              <li class="breadcrumb-item"><a href="#">Forms</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Form elements
              </li>
            </ol>
          </nav>
        </div>
        <div class="col-lg-6 col-5 text-right">
          <a href="#" class="btn btn-sm btn-neutral">New</a>
          <a href="#" class="btn btn-sm btn-neutral">Filters</a>
        </div>
      </div>
    </div>
  </div>
</div>

<form [formGroup]="form">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Form group in grid</h3>
              </div>
              <div class="col text-right">
                <label class="custom-toggle custom-toggle-success"
                  ><input type="checkbox" formControlName="enabled" />
                  <span
                    class="custom-toggle-slider rounded-circle"
                    data-label-off="Disabled"
                    data-label-on="Enabled"
                  ></span
                ></label>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Command names</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols3Input"
                    >Prefixed call phrase</label
                  >
                  <tag-input
                    [(ngModel)]="prefixedPhrases"
                    [ngModelOptions]="{ standalone: true }"
                  ></tag-input>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Call phrase</label
                  >
                  <tag-input
                    [(ngModel)]="phrases"
                    [ngModelOptions]="{ standalone: true }"
                  ></tag-input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6" formGroupName="slashCommand">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Slash commands</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
             <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Command name</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Default input"
                    formControlName="name"
                  />
                </div>
              </div>
            </div>
            <div class="row">
               <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Command name</label
                  >
                  <input
                    class="form-control"
                    type="text"
                    placeholder="Default input"
                    formControlName="description"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Role settings</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols3Input"
                    >Roles whitelist</label
                  >

                  <ng-select
                    appearance="outline"
                    [items]="availableRoles"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="false"
                    [closeOnSelect]="false"
                    formControlName="respondRoleWhitelist"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                          {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Role blacklist</label
                  >

                  <ng-select
                    appearance="outline"
                    [items]="availableRoles"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="false"
                    [closeOnSelect]="false"
                    formControlName="respondRoleBlacklist"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                          {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Channel setting</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols3Input"
                    >Channel Whitelist</label
                  >

                  <ng-select
                    appearance="outline"
                    [items]="availableRooms"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="false"
                    [closeOnSelect]="false"
                    groupBy="category"
                    formControlName="respondChannelWhitelist"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Channel blacklist</label
                  >

                  <ng-select
                    appearance="outline"
                    [items]="availableRooms"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="false"
                    [closeOnSelect]="false"
                    groupBy="category"
                    formControlName="respondChannelBlacklist"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >{{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Remove on error</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Remove invalid command message after (s)</label
                  >
                  <input
                    class="form-control"
                    type="number"
                    placeholder="Default input"
                    formControlName="removeInvalidSelf"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Remove invalid trigger</label
                  >
                </div>
                <div class="form-group">
                  <label class="custom-toggle custom-toggle-success"
                    ><input
                      type="checkbox"
                      formControlName="removeInvalidTrigger" />
                    <span
                      class="custom-toggle-slider rounded-circle"
                      data-label-off="Disabled"
                      data-label-on="Enabled"
                    ></span
                  ></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-6">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Remove</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Remove trigger</label
                  >
                </div>
                <div class="form-group">
                  <label class="custom-toggle custom-toggle-success"
                    ><input type="checkbox" formControlName="removeTrigger" />
                    <span
                      class="custom-toggle-slider rounded-circle"
                      data-label-off="No"
                      data-label-on="Yes"
                    ></span
                  ></label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Remove response</label
                  >
                </div>
                <div class="form-group">
                  <label class="custom-toggle custom-toggle-success"
                    ><input type="checkbox" formControlName="removeSelf" />
                    <span
                      class="custom-toggle-slider rounded-circle"
                      data-label-off="No"
                      data-label-on="Yes"
                    ></span
                  ></label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-center">
      <button class="btn btn-primary" type="submit" (click)="submitForm()">Save</button>
    </div>
  </div>
</form>
