<div class="container-fluid">
  <div class="header-body">
    <div class="row align-items-center py-4">
      <div class="col-lg-6 col-7">
        <h6 class="h2 d-inline-block mb-0">{{ guildData?.name }}</h6>
        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
          <ol class="breadcrumb breadcrumb-links">
            <li class="breadcrumb-item">
              <a href="#"><i class="fas fa-home"></i></a>
            </li>
            <li class="breadcrumb-item"><a href="#">Dashboards</a></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <form [formGroup]="form">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h3 class="mb-0">General</h3>
                </div>
              </div>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <!-- Form groups used in grid -->
              <div class="row">
                <div class="col-6">
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label" for="example3cols1Input"
                          >Guild id</label
                        >
                      </div>
                      <div class="form-group">
                        <input
                          type="text"
                          class="form-control"
                          formControlName="guildId"
                          [attr.disabled]="true"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label" for="example3cols1Input"
                          >Name</label
                        >
                        <input
                          type="text"
                          class="form-control"
                          formControlName="name"
                          [attr.disabled]="true"
                        />
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="form-group">
                        <label class="form-control-label" for="example3cols1Input"
                          >Channel where bot listens to every command</label
                        >
                        <small> (ignores white/black list and roles)</small>

                        <ng-select
                          appearance="outline"
                          [items]="availableRooms"
                          [multiple]="false"
                          [searchable]="true"
                          [clearable]="false"
                          [closeOnSelect]="false"
                          formControlName="commander"
                        >
                          <ng-template
                            ng-option-tmp
                            ng-label-tmp
                            let-item="item"
                            let-index="index"
                            let-search="searchTerm"
                          >
                            {{ item.name }}
                          </ng-template>
                        </ng-select>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-6">
                  <div class="row">
                    <div class="col-6">
                      <div class="form-group">
                        <label class="form-control-label" for="example3cols1Input"
                          >Color</label
                        >
                        <chrome-picker [(color)]="color"></chrome-picker>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h3 class="mb-0">Commands</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="example3cols1Input"
                      >Prefix</label
                    >
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="prefix"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="example3cols1Input"
                      >Command arguments divider
                    </label>
                    <small> (Default is "space")</small>
                  </div>
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      formControlName="argsDivider"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-6">
          <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header">
              <div class="row">
                <div class="col">
                  <h3 class="mb-0">Remove replies and invalid commands</h3>
                </div>
              </div>
            </div>
            <!-- Card body -->
            <div class="card-body">
              <!-- Form groups used in grid -->
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="example3cols1Input"
                      >Remove invalid command message after (s)</label
                    >
                    <input
                      class="form-control"
                      type="number"
                      placeholder="Default input"
                      formControlName="removeInvalidSelf"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="form-group">
                    <label class="form-control-label" for="example3cols1Input"
                      >Remove invalid trigger</label
                    >
                  </div>
                  <div class="form-group">
                    <label class="custom-toggle custom-toggle-success"
                      ><input
                        type="checkbox"
                        formControlName="removeInvalidTrigger" />
                      <span
                        class="custom-toggle-slider rounded-circle"
                        data-label-off="Disabled"
                        data-label-on="Enabled"
                      ></span
                    ></label>
                  </div>
                  <div class="form-group">
                    <label class="custom-toggle custom-toggle-success"
                      ><input
                        type="checkbox"
                        formControlName="removeUnknown" />
                      <span
                        class="custom-toggle-slider rounded-circle"
                        data-label-off="Disabled"
                        data-label-on="Enabled"
                      ></span
                    ></label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button class="btn btn-primary" type="submit" (click)="submitForm()">
          Save
        </button>
      </div>
    </div>
  </form>

  <div class="header-body">
    <div class="row align-items-center py-4">
      <div class="col-lg-6 col-7">
        <h6 class="h2 d-inline-block mb-0">Modules</h6>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let module of modulesList">
      <div class="card" *ngIf="module.moduleSubData">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-12">
              <h4 class="mb-0">
                <a href="#!">{{ module.moduleSubData.name }}</a>
              </h4>
              <small>{{ module.moduleSubData.description }}</small>
            </div>
            <div class="col">
              <label class="custom-toggle custom-toggle-success"
                ><input type="checkbox" [checked]="module.enabled" />
                <span
                  class="custom-toggle-slider rounded-circle"
                  data-label-off="Disabled"
                  data-label-on="Enabled"
                  (click)="toggleModule(module._id)"
                ></span
              ></label>
            </div>
            <div class="col">
              <button type="button" class="btn btn-md btn-primary">Manage</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
