<form [formGroup]="form">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Role settings</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label">Mute roles</label>
                  <ng-select
                    appearance="outline"
                    [items]="availableRoles"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="muteroles"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Soft ban roles</label
                  >
                  <ng-select
                    appearance="outline"
                    [items]="availableRoles"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="sbanroles"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12" formGroupName="penalizations">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Messages settings</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <button class="btn btn-primary" (click)="openModal('mute')">Mute</button>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <button class="btn btn-primary" (click)="openModal('unmute')">Unmute</button>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <button class="btn btn-primary" (click)="openModal('ban')">Ban</button>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <button class="btn btn-primary" (click)="openModal('unban')">Unban</button>
                </div>
              </div>
              <div class="col">
                <div class="form-group">
                  <button class="btn btn-primary" (click)="openModal('sban')">SBan</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="text-center">
  <button (click)="onSubmit()" class="btn btn-success">Save</button>
</div>

<app-embed-creator
  [embedData]="modalData"
  (closeEvent)="closeModal($event)"
  *ngIf="modalOpen"
></app-embed-creator>
