<div
  class="modal fade show"
  id="modal-notification"
  tabindex="-1"
  role="dialog"
  style="display: block; padding-right: 15px"
  aria-modal="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-gradient-primary">
      <div class="modal-header">
        <h6 class="modal-title" id="modal-title-notification text-white">
          Edit response
        </h6>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="closeModal()"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="form">
          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <label
                  class="form-control-label text-white"
                  for="example3cols3Input"
                  >Text message</label
                >
                <input class="form-control" formControlName="content" />
              </div>
            </div>
            <div formArrayName="embeds">
              <div *ngFor="let embed of getEmbeds(form); let o = index">
                <div
                  class="callout callout-success callout-bg-primary row"
                  [formGroupName]="o"
                >
                  <div class="col-12">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Color</label
                      >
                      <input class="form-control" formControlName="color" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Title</label
                      >
                      <input class="form-control" formControlName="title" />
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Url</label
                      >
                      <input class="form-control" formControlName="url" />
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Description</label
                      >
                      <input
                        class="form-control"
                        formControlName="description"
                      />
                    </div>
                  </div>
                  <div class="col-6" formGroupName="author">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Author</label
                      >
                      <input class="form-control" formControlName="name" />
                    </div>
                  </div>
                  <div class="col-6" formGroupName="author">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Icon</label
                      >
                      <input class="form-control" formControlName="iconURL" />
                    </div>
                  </div>
                  <div class="col-12" formGroupName="author">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Url</label
                      >
                      <input class="form-control" formControlName="url" />
                    </div>
                  </div>
                  <div formArrayName="fields">
                    <div *ngFor="let field of getFields(embed); let p = index">
                      <div
                        class="callout callout-success callout-bg-primary row"
                        [formGroupName]="p"
                      >
                        <div class="col-6">
                          <div class="form-group">
                            <label
                              class="form-control-label text-white"
                              for="example3cols3Input"
                              >Title</label
                            >
                            <input
                              class="form-control"
                              formControlName="name"
                            />
                          </div>
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label
                              class="form-control-label text-white"
                              for="example3cols3Input"
                              >Text</label
                            >
                            <input
                              class="form-control"
                              formControlName="value"
                            />
                          </div>
                        </div>
                        <div class="col-12">
                          <div class="form-group">
                            <label class="custom-toggle custom-toggle-success"
                              ><input
                                type="checkbox"
                                formControlName="inline" />
                              <span
                                class="custom-toggle-slider rounded-circle"
                                data-label-off="Inline"
                                data-label-on="Inline"
                              ></span
                            ></label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <button
                        (click)="addField(embed)"
                        class="btn btn-secondary"
                      >
                        Add field
                      </button>
                    </div>
                  </div>
                  <div class="col-12" formGroupName="footer">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Text</label
                      >
                      <input class="form-control" formControlName="text" />
                    </div>
                  </div>
                  <div class="col-6" formGroupName="footer">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Icon</label
                      >
                      <input class="form-control" formControlName="iconURL" />
                    </div>
                  </div>
                  <div class="col-6" formGroupName="thumbnail">
                    <div class="form-group">
                      <label
                        class="form-control-label text-white"
                        for="example3cols3Input"
                        >Thumbnail</label
                      >
                      <input class="form-control" formControlName="url" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <button (click)="addEmbed()" class="btn btn-secondary">
                  Add embed
                </button>
              </div>
            </div>
            <div class="col-12">
              <div class="form-group">
                <label
                  class="form-control-label text-white"
                  for="example3cols3Input"
                  >Files</label
                >
                <tag-input formControlName="files"></tag-input>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary text-left" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-success text-right" (click)="onSubmit()">Save</button>
      </div>
    </div>
  </div>
</div>
