<form [formGroup]="form">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col"><h3 class="mb-0">Sticky messages</h3></div>
              <div class="col text-right">
                <button class="btn btn-sm btn-primary" (click)="addMessage()">
                  Add
                </button>
              </div>
            </div>
          </div>
          <div class="table">
            <table
              class="table align-items-center table-flush"
              formArrayName="messages"
            >
              <thead class="thead-light">
                <tr>
                  <th>Channel</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr
                  [formGroupName]="j"
                  *ngFor="let message of getMessage(form); let j = index"
                >
                  <th scope="row">
                    <ng-select
                      appearance="outline"
                      [items]="availableRooms"
                      [multiple]="false"
                      [searchable]="true"
                      [clearable]="true"
                      [closeOnSelect]="true"
                      formControlName="channel"
                      bindLabel="name"
                    >
                      <ng-template
                        ng-option-tmp
                        ng-label-tmp
                        let-item="item"
                        let-index="index"
                        let-search="searchTerm"
                      >
                        {{ item.name }}
                      </ng-template>
                    </ng-select>
                  </th>
                  <td>
                    <div ngbDropdown class="d-inline-block">
                      <button class="btn btn-primary" (click)="openModal(message, j)">
                        Manage
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="text-center">
  <button (click)="onSubmit()" class="btn btn-success">Save</button>
</div>

<app-embed-creator
  [embedData]="modalData"
  (closeEvent)="closeModal($event)"
  *ngIf="modalOpen"
></app-embed-creator>
