<form [formGroup]="form" *ngIf="loaded">
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Emotes</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col-2">
                <div class="form-group" formGroupName="emotes">
                  <label class="form-control-label">Yes</label>
                  <span class="input-group-append">
                    <div #YesDrop="ngbDropdown"
                      ngbDropdown
                      class="btn btn-primary"
                      #EmoteDrop="ngbDropdown">
                      <a
                        (click)="$event.stopPropagation(); YesDrop.open();"
                        *ngIf="
                          form.value.emotes.yesDisplay !=
                          form.value.emotes.yes
                        "
                      >
                        <img
                          [src]="form.value.emotes.yesDisplay"
                          width="30px"
                          height="30px"
                        />
                      </a>
                      <a
                        (click)="$event.stopPropagation(); YesDrop.open();"
                        *ngIf="
                          form.value.emotes.yesDisplay ==
                          form.value.emotes.yes
                        "
                      >
                        {{ form.value.emotes.yesDisplay }}
                      </a>
                      <div ngbDropdownMenu class="m-0 p-0">
                        <emoji-mart
                          title="Pick your emoji…"
                          emoji="point_up"
                          [custom]="customEmojis"
                          [include]="[
                            'recent',
                            'search',
                            'custom',
                            'people',
                            'nature',
                            'foods',
                            'activity',
                            'places',
                            'places',
                            'symbols',
                            'flags'
                          ]"
                          (emojiClick)="selectEmoji('yes', $event)"
                          [showSingleCategory]="true"
                        ></emoji-mart>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group" formGroupName="emotes">
                  <label class="form-control-label">Undecided</label>
                  <span class="input-group-append">
                    <div #YesDrop="ngbDropdown"
                      ngbDropdown
                      class="btn btn-primary"
                      #UndecidedDrop="ngbDropdown">
                      <a
                        (click)="$event.stopPropagation(); UndecidedDrop.open();"
                        *ngIf="
                          form.value.emotes.undecidedDisplay !=
                          form.value.emotes.undecided
                        "
                      >
                        <img
                          [src]="form.value.emotes.undecidedDisplay"
                          width="30px"
                          height="30px"
                        />
                      </a>
                      <a
                        (click)="$event.stopPropagation(); UndecidedDrop.open();"
                        *ngIf="
                          form.value.emotes.undecidedDisplay ==
                          form.value.emotes.undecided
                        "
                      >
                        {{ form.value.emotes.undecidedDisplay }}
                      </a>
                      <div ngbDropdownMenu class="m-0 p-0">
                        <emoji-mart
                          title="Pick your emoji…"
                          emoji="point_up"
                          [custom]="customEmojis"
                          [include]="[
                            'recent',
                            'search',
                            'custom',
                            'people',
                            'nature',
                            'foods',
                            'activity',
                            'places',
                            'places',
                            'symbols',
                            'flags'
                          ]"
                          (emojiClick)="selectEmoji('undecided', $event)"
                          [showSingleCategory]="true"
                        ></emoji-mart>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group" formGroupName="emotes">
                  <label class="form-control-label">No</label>
                  <span class="input-group-append">
                    <div #YesDrop="ngbDropdown"
                      ngbDropdown
                      class="btn btn-primary"
                      #noDrop="ngbDropdown">
                      <a
                        (click)="$event.stopPropagation(); noDrop.open();"
                        *ngIf="
                          form.value.emotes.noDisplay !=
                          form.value.emotes.no
                        "
                      >
                        <img
                          [src]="form.value.emotes.noDisplay"
                          width="30px"
                          height="30px"
                        />
                      </a>
                      <a
                        (click)="$event.stopPropagation(); noDrop.open();"
                        *ngIf="
                          form.value.emotes.noDisplay ==
                          form.value.emotes.no
                        "
                      >
                        {{ form.value.emotes.noDisplay }}
                      </a>
                      <div ngbDropdownMenu class="m-0 p-0">
                        <emoji-mart
                          title="Pick your emoji…"
                          emoji="point_up"
                          [custom]="customEmojis"
                          [include]="[
                            'recent',
                            'search',
                            'custom',
                            'people',
                            'nature',
                            'foods',
                            'activity',
                            'places',
                            'places',
                            'symbols',
                            'flags'
                          ]"
                          (emojiClick)="selectEmoji('no', $event)"
                          [showSingleCategory]="true"
                        ></emoji-mart>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group" formGroupName="emotes">
                  <label class="form-control-label">Force yes</label>
                  <span class="input-group-append">
                    <div #YesDrop="ngbDropdown"
                      ngbDropdown
                      class="btn btn-primary"
                      #forceYesDrop="ngbDropdown">
                      <a
                        (click)="$event.stopPropagation(); forceYesDrop.open();"
                        *ngIf="
                          form.value.emotes.forceYesDisplay !=
                          form.value.emotes.forceYes
                        "
                      >
                        <img
                          [src]="form.value.emotes.forceYesDisplay"
                          width="30px"
                          height="30px"
                        />
                      </a>
                      <a
                        (click)="$event.stopPropagation(); forceYesDrop.open();"
                        *ngIf="
                          form.value.emotes.forceYesDisplay ==
                          form.value.emotes.forceYes
                        "
                      >
                        {{ form.value.emotes.forceYesDisplay }}
                      </a>
                      <div ngbDropdownMenu class="m-0 p-0">
                        <emoji-mart
                          title="Pick your emoji…"
                          emoji="point_up"
                          [custom]="customEmojis"
                          [include]="[
                            'recent',
                            'search',
                            'custom',
                            'people',
                            'nature',
                            'foods',
                            'activity',
                            'places',
                            'places',
                            'symbols',
                            'flags'
                          ]"
                          (emojiClick)="selectEmoji('forceYes', $event)"
                          [showSingleCategory]="true"
                        ></emoji-mart>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group" formGroupName="emotes">
                  <label class="form-control-label">Force no</label>
                  <span class="input-group-append">
                    <div #YesDrop="ngbDropdown"
                      ngbDropdown
                      class="btn btn-primary"
                      #forceNoDrop="ngbDropdown">
                      <a
                        (click)="$event.stopPropagation(); forceNoDrop.open();"
                        *ngIf="
                          form.value.emotes.forceNoDisplay !=
                          form.value.emotes.forceNo
                        "
                      >
                        <img
                          [src]="form.value.emotes.forceNoDisplay"
                          width="30px"
                          height="30px"
                        />
                      </a>
                      <a
                        (click)="$event.stopPropagation(); forceNoDrop.open();"
                        *ngIf="
                          form.value.emotes.forceNoDisplay ==
                          form.value.emotes.forceNo
                        "
                      >
                        {{ form.value.emotes.forceNoDisplay }}
                      </a>
                      <div ngbDropdownMenu class="m-0 p-0">
                        <emoji-mart
                          title="Pick your emoji…"
                          emoji="point_up"
                          [custom]="customEmojis"
                          [include]="[
                            'recent',
                            'search',
                            'custom',
                            'people',
                            'nature',
                            'foods',
                            'activity',
                            'places',
                            'places',
                            'symbols',
                            'flags'
                          ]"
                          (emojiClick)="selectEmoji('forceNo', $event)"
                          [showSingleCategory]="true"
                        ></emoji-mart>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
              <div class="col-2">
                <div class="form-group" formGroupName="emotes">
                  <label class="form-control-label">Reset</label>
                  <span class="input-group-append">
                    <div #YesDrop="ngbDropdown"
                      ngbDropdown
                      class="btn btn-primary"
                      #resetDrop="ngbDropdown">
                      <a
                        (click)="$event.stopPropagation(); resetDrop.open();"
                        *ngIf="
                          form.value.emotes.resetDisplay !=
                          form.value.emotes.reset
                        "
                      >
                        <img
                          [src]="form.value.emotes.resetDisplay"
                          width="30px"
                          height="30px"
                        />
                      </a>
                      <a
                        (click)="$event.stopPropagation(); resetDrop.open();"
                        *ngIf="
                          form.value.emotes.resetDisplay ==
                          form.value.emotes.reset
                        "
                      >
                        {{ form.value.emotes.resetDisplay }}
                      </a>
                      <div ngbDropdownMenu class="m-0 p-0">
                        <emoji-mart
                          title="Pick your emoji…"
                          emoji="point_up"
                          [custom]="customEmojis"
                          [include]="[
                            'recent',
                            'search',
                            'custom',
                            'people',
                            'nature',
                            'foods',
                            'activity',
                            'places',
                            'places',
                            'symbols',
                            'flags'
                          ]"
                          (emojiClick)="selectEmoji('reset', $event)"
                          [showSingleCategory]="true"
                        ></emoji-mart>
                      </div>
                    </div>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Default points</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col-4">
                <div class="form-group" formGroupName="points">
                  <label class="form-control-label">Yes</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="yes"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group" formGroupName="points">
                  <label class="form-control-label">Undecided</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="undecided"
                  />
                </div>
              </div>
              <div class="col-4">
                <div class="form-group" formGroupName="points">
                  <label class="form-control-label">No</label>
                  <input
                    type="number"
                    class="form-control"
                    formControlName="no"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Definitions</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label"
                    >Text channel for voting</label
                  >
                  <ng-select
                    appearance="outline"
                    [items]="availableRooms"
                    [multiple]="false"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="channel"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Verified role</label
                  >
                  <ng-select
                    appearance="outline"
                    [items]="availableRoles"
                    [multiple]="false"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="verifiedRole"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Nedded points to get role</label
                  >
                  <input
                    class="form-control"
                    appearance="outline"
                    formControlName="neededPoints"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="card mb-4">
          <!-- Card header -->
          <div class="card-header">
            <div class="row">
              <div class="col">
                <h3 class="mb-0">Who can vote</h3>
              </div>
            </div>
          </div>
          <!-- Card body -->
          <div class="card-body">
            <!-- Form groups used in grid -->
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label">Administrators</label>
                  <ng-select
                    appearance="outline"
                    [items]="availableRoles"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="authority"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Roles whitelisted to vote</label
                  >
                  <ng-select
                    appearance="outline"
                    [items]="availableRoles"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="respondRoleWhitelist"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
              <div class="col-12">
                <div class="form-group">
                  <label class="form-control-label" for="example3cols1Input"
                    >Roles without blacklisted to vote</label
                  >
                  <ng-select
                    appearance="outline"
                    [items]="availableRoles"
                    [multiple]="true"
                    [searchable]="true"
                    [clearable]="true"
                    [closeOnSelect]="false"
                    formControlName="respondRoleBlacklist"
                    bindLabel="name"
                  >
                    <ng-template
                      ng-option-tmp
                      ng-label-tmp
                      let-item="item"
                      let-index="index"
                      let-search="searchTerm"
                    >
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <div class="row align-items-center">
              <div class="col"><h3 class="mb-0">Special groups</h3></div>
              <div class="col text-right">
                <button class="btn btn-sm btn-primary" (click)="addGroup()">
                  Add
                </button>
              </div>
            </div>
          </div>
          <div class="table">
            <table
              class="table align-items-center table-flush"
              formArrayName="groups"
            >
              <thead class="thead-light">
                <tr>
                  <th>Role</th>
                  <th>Yes</th>
                  <th>Undecided</th>
                  <th>No</th>
                </tr>
              </thead>
              <tbody class="list">
                <tr
                  [formGroupName]="j"
                  *ngFor="let group of getGroup(form); let j = index"
                >
                  <th scope="row">
                    <ng-select
                      appearance="outline"
                      [items]="availableRoles"
                      [multiple]="false"
                      [searchable]="true"
                      [clearable]="true"
                      [closeOnSelect]="true"
                      formControlName="role"
                      bindLabel="name"
                    >
                      <ng-template
                        ng-option-tmp
                        ng-label-tmp
                        let-item="item"
                        let-index="index"
                        let-search="searchTerm"
                      >
                        {{ item.name }}
                      </ng-template>
                    </ng-select>
                  </th>
                  <td scope="row" formGroupName="points">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="yes"
                    />
                  </td>
                  <td scope="row" formGroupName="points">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="undecided"
                    />
                  </td>
                  <td scope="row" formGroupName="points">
                    <input
                      type="number"
                      class="form-control"
                      formControlName="no"
                    />
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="text-center">
  <button (click)="onSubmit()" class="btn btn-success">Save</button>
</div>
